<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container{
            display: flex;
        }
        .card{
            border: 2px solid red;
            margin: 23px 12px;
            padding:2px 20px;
            background-color: blueviolet;
            box-shadow: insert 10px 13px 20px 2px black;
            blur

        }
    </style>
</head>
<body>
    <div class="container">
        <div class="card" id="card1">
          <h1>card1</h1>  
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad quam voluptatum pariatur, voluptatibus doloribus provident atque laudantium qui a officiis delectus inventore placeat voluptates adipisci aliquam sequi! Error impedit temporibus vel architecto voluptatum eius.</p>
        </div>
        <div class="card" id="card2">
            <h1>card2</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad quam voluptatum pariatur, voluptatibus doloribus provident atque laudantium qui a officiis delectus inventore placeat voluptates adipisci aliquam sequi! Error impedit temporibus vel architecto voluptatum eius.</p>
            </div>
        <div class="card" id="card3">
            <h1>card3</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad quam voluptatum pariatur, voluptatibus doloribus provident atque laudantium qui a officiis delectus inventore placeat voluptates adipisci aliquam sequi! Error impedit temporibus vel architecto voluptatum eius.</p>

        </div>
    </div>
</body>
</html>