<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container{
            display: flex;
            width: 100%;
            height: 544px;
            border: 2px solid gray;
        } 
        .item{
            width: 200px;
            height: 200px;
            background-color: tomato;
            border: 2px solid red;
            margin: 10px;
            padding: 3px;
        }

    </style>
</head>

<body>
    <h1>flexbox tutorial</h1>
    <div class="container">
        <div class="item" id="item1">first box</div>
        <div class="item" id="item2">secnd box</div>
        <div class="item" id="item3">third box</div>
        <div class="item" id="item4">fourth box</div>
        <div class="item" id="item5">fivfth box</div>
        <div class="item" id="item6">sixth box</div>
    </div>


</body>

</html>