<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: rgb(159, 249, 249);
        }

        
        .container{
            background-color: rgb(255, 114, 239);
            border: 2px solid rgb(19, 224, 87);
            padding  : 10px ;
            margin: 34px;
            border-radius: 20px;
             
        }

    </style>
</head>
<body>
    <div class="container">
        <h3>this is my heading</h3>
        <p id="first">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi ad porro quo. Praesentium sed quia voluptatum molestias, corporis quidem esse omnis ut id quas voluptas facilis assumenda saepe. Quam enim distinctio sit autem sed?
        </p>
    </div>
    
    <div class="container">
        <h3>this is my heading</h3>
        <p id="second">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi ad porro quo. Praesentium sed quia voluptatum molestias, corporis quidem esse omnis ut id quas voluptas facilis assumenda saepe. Quam enim distinctio sit autem sed?
        </p>
    </div>
    <div class="container">
        <h3>this is my heading</h3>
        <p id="third">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi ad porro quo. Praesentium sed quia voluptatum molestias, corporis quidem esse omnis ut id quas voluptas facilis assumenda saepe. Quam enim distinctio sit autem sed?
        </p>
    </div>
    
    
</body>
</html>